h1 {
  @include use-font($font-family-brand, get-font-sizes('h1'));
}

h2 {
  @include use-font($font-family-brand, get-font-sizes('h2'));
}

h3 {
  @include use-font($font-family-brand, get-font-sizes('h3'));
}

h4 {
  @include use-font($font-family-brand, get-font-sizes('h4'));
}

h5 {
  @include use-font($font-family-brand, get-font-sizes('h5'));
}

h6 {
  @include use-font($font-family-brand, get-font-sizes('h6'));
}

h1 {
  margin-top: $spacing-unit-lg;
  margin-bottom: $spacing-unit-lg;
}

h2 {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

h3,
h4 {
  margin-top: $spacing-unit-sm;
  margin-bottom: $spacing-unit-sm;
}

h5,
h6 {
  margin-top: $spacing-unit-xs;
  margin-bottom: $spacing-unit-xs;
}
