/* Base site font size set in px.
 * All other font sizes will be rem based from this.
 */
@each $breakpoint in map-keys($ea-font-size-breakpoint-multipliers) {
  @include ea-respond-to($breakpoint) {
    html {
      $breakpoint-multiplier: map-get($ea-font-size-breakpoint-multipliers, $breakpoint);
      font-size: $ea-font-size-default * $breakpoint-multiplier;
    }
  }
}

html {
  @include ea-respond-to('max-xs') {
    $breakpoint-multiplier: map-get($ea-font-size-breakpoint-multipliers, 'xs');
    font-size: $ea-font-size-default * $breakpoint-multiplier;
  }
}

html {
  font-family: $ea-font-family-base;
}

/* Set header font sizes - these will be relative to html */
h1 {
  @include ea-font('h1', $ea-font-family-brand);
}

h2 {
  @include ea-font('h2', $ea-font-family-brand);
}

h3 {
  @include ea-font('h3', $ea-font-family-brand);
}

h4 {
  @include ea-font('h4', $ea-font-family-brand);
}

h5 {
  @include ea-font('h5', $ea-font-family-brand);
}

h6 {
  @include ea-font('h6', $ea-font-family-brand);
}

/* Consistent vertical spacing for block elements */
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
legend,
figure,
pre,
hr {
  margin-bottom: $ea-spacing-unit;
}
