@include generate-push-classes;

$breakpoint-keys: map-keys($ea-breakpoints);
$reverse-breakpoint-keys: ea-reverse-list($breakpoint-keys);

/* Need to min-width responsive classes smallest first to ensure the largest responsive size class takes precedent */
@each $breakpoint in $reverse-breakpoint-keys {
  @include ea-respond-to('#{$breakpoint}') {
    $extension: \@#{$breakpoint};
    @include generate-push-classes($extension);
  }
}

/* Need to min-width responsive classes largest first to ensure the smallest responsive size class takes precedent */
@each $breakpoint in $breakpoint-keys {
  @include ea-respond-to('max-#{$breakpoint}') {
    $extension: \@max-#{$breakpoint};
    @include generate-push-classes($extension);
  }
}

/* Remove margin classes */
.ea-u-flush {
  margin: 0 !important;
}

.ea-u-flush-left {
  margin-left: 0 !important;
}

.ea-u-flush-right {
  margin-right: 0 !important;
}

.ea-u-flush-top {
  margin-top: 0 !important;
}

.ea-u-flush-bottom {
  margin-bottom: 0 !important;
}

.ea-u-flush-ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ea-u-hard-ends {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
