/* Add margin */
.u-push {
  margin: $spacing-unit !important;
  @include generate-offsets('margin');
}

.u-push-left {
  margin-left: $spacing-unit !important;
  @include generate-offsets('margin-left');
}

.u-push-top {
  margin-top: $spacing-unit !important;
  @include generate-offsets('margin-top');
}

.u-push-right {
  margin-right: $spacing-unit !important;
  @include generate-offsets('margin-right');
}

.u-push-bottom {
  margin-bottom: $spacing-unit !important;
  @include generate-offsets('margin-bottom');
}

.u-push-sides {
  margin-left: $spacing-unit !important;
  margin-right: $spacing-unit !important;
  @include generate-offsets('margin-left', 'margin-right');
}

.u-push-ends {
  margin-top: $spacing-unit !important;
  margin-bottom: $spacing-unit !important;
  @include generate-offsets('margin-top', 'margin-bottom');
}

/* Remove margin */
.u-flush {
  margin: 0 !important;
}

.u-flush-left {
  margin-left: 0 !important;
}

.u-flush-top {
  margin-top: 0 !important;
}

.u-flush-right {
  margin-right: 0 !important;
}

.u-flush-bottom {
  margin-bottom: 0 !important;
}

.u-flush-sides {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-flush-ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
