@include generate-soft-classes();

$breakpoint-keys: map-keys($ea-breakpoints);
$reverse-breakpoint-keys: ea-reverse-list($breakpoint-keys);

/* Need to min-width responsive classes smallest first to ensure the largest responsive size class takes precedent */
@each $breakpoint in $reverse-breakpoint-keys {
  @include ea-respond-to('#{$breakpoint}') {
    $extension: \@#{$breakpoint};
    @include generate-soft-classes($extension);
  }
}

/* Need to min-width responsive classes largest first to ensure the smallest responsive size class takes precedent */
@each $breakpoint in $breakpoint-keys {
  @include ea-respond-to('max-#{$breakpoint}') {
    $extension: \@max-#{$breakpoint};
    @include generate-soft-classes($extension);
  }
}

/* Remove padding classes */
.ea-u-hard {
  padding: 0 !important;
}

.ea-u-hard-left {
  padding-left: 0 !important;
}

.ea-u-hard-right {
  padding-right: 0 !important;
}

.ea-u-hard-top {
  padding-top: 0 !important;
}

.ea-u-hard-bottom {
  padding-bottom: 0 !important;
}

.ea-u-hard-ends {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ea-u-hard-ends {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
