@include generate-soft-classes;
@include generate-hard-classes;

$breakpoint-keys: map-keys($ea-breakpoints);
$reverse-breakpoint-keys: ea-reverse-list($breakpoint-keys);

/* Need to render smaller screen size breakpoint classes first to ensure larger screen size breakpoint classes have higher specificity */
@each $breakpoint in $reverse-breakpoint-keys {
  @include ea-respond-to('#{$breakpoint}') {
    $extension: \@#{$breakpoint};
    @include generate-soft-classes($extension);
    @include generate-hard-classes($extension);
  }
}

/* Need to render larger max-screen size breakpoint classes first to ensure smaller max-screen size breakpoint classes have higher specificity */
@each $breakpoint in $breakpoint-keys {
  @include ea-respond-to('max-#{$breakpoint}') {
    $extension: \@max-#{$breakpoint};
    @include generate-soft-classes($extension);
    @include generate-hard-classes($extension);
  }
}
