/* Generate non responsive widths first, responsive widths have more weight */
@include ea-generate-width-fraction-classes(1);
@include ea-generate-width-fraction-classes(2);
@include ea-generate-width-fraction-classes(3);
@include ea-generate-width-fraction-classes(4);
@include ea-generate-width-fraction-classes(5);
@include ea-generate-width-fraction-classes(6);
@include ea-generate-width-fraction-classes(7);
@include ea-generate-width-fraction-classes(8);
@include ea-generate-width-fraction-classes(9);
@include ea-generate-width-fraction-classes(10);

$breakpoint-keys: map-keys($ea-breakpoints);
$reverse-breakpoint-keys: ea-reverse-list($breakpoint-keys);

/* Need to min-width responsive classes smallest first to ensure the largest responsive size class takes precedent */
@each $breakpoint in $reverse-breakpoint-keys {
  @include ea-respond-to('#{$breakpoint}') {
    $extension: \@#{$breakpoint};
    @include ea-generate-width-fraction-classes(1, $extension);
    @include ea-generate-width-fraction-classes(2, $extension);
    @include ea-generate-width-fraction-classes(3, $extension);
    @include ea-generate-width-fraction-classes(4, $extension);
    @include ea-generate-width-fraction-classes(5, $extension);
    @include ea-generate-width-fraction-classes(6, $extension);
    @include ea-generate-width-fraction-classes(7, $extension);
    @include ea-generate-width-fraction-classes(8, $extension);
    @include ea-generate-width-fraction-classes(9, $extension);
    @include ea-generate-width-fraction-classes(10, $extension);
  }
}

/* Need to min-width responsive classes largest first to ensure the smallest responsive size class takes precedent */
@each $breakpoint in $breakpoint-keys {
  @include ea-respond-to('max-#{$breakpoint}') {
    $extension: \@max-#{$breakpoint};
    @include ea-generate-width-fraction-classes(1, $extension);
    @include ea-generate-width-fraction-classes(2, $extension);
    @include ea-generate-width-fraction-classes(3, $extension);
    @include ea-generate-width-fraction-classes(4, $extension);
    @include ea-generate-width-fraction-classes(5, $extension);
    @include ea-generate-width-fraction-classes(6, $extension);
    @include ea-generate-width-fraction-classes(7, $extension);
    @include ea-generate-width-fraction-classes(8, $extension);
    @include ea-generate-width-fraction-classes(9, $extension);
    @include ea-generate-width-fraction-classes(10, $extension);
  }
}
