@if $ea-use-flag {
  .ea-o-flag {
    display: table;
    width: 100%;
  }

  $breakpoint-keys: map-keys($ea-breakpoints);
  $reverse-breakpoint-keys: ea-reverse-list($breakpoint-keys);

  /* Need to min-width responsive classes smallest first to ensure the largest responsive size class takes precedent */
  @each $breakpoint in $reverse-breakpoint-keys {
    @include ea-respond-to('#{$breakpoint}') {
      .ea-o-flag\@#{$breakpoint} {
        display: table;
        width: 100%;
      }

      .ea-o-flag\@#{$breakpoint} > .ea-o-flag__component,
      .ea-o-flag\@#{$breakpoint} > .ea-o-flag__body {
        display: table-cell;
      }
    }
  }

  /* Need to min-width responsive classes largest first to ensure the smallest responsive size class takes precedent */
  @each $breakpoint in $breakpoint-keys {
    @include ea-respond-to('max-#{$breakpoint}') {
      .ea-o-flag\@max-#{$breakpoint} {
        display: table;
        width: 100%;
      }

      .ea-o-flag\@max-#{$breakpoint} > .ea-o-flag__component,
      .ea-o-flag\@max-#{$breakpoint} > .ea-o-flag__body {
        display: table-cell;
      }
    }
  }

  :not([class^='ea-o-flag\@']) > .ea-o-flag__component,
  :not([class^='ea-o-flag\@']) > .ea-o-flag__body {
    display: table-cell;
  }

  .ea-o-flag__component,
  .ea-o-flag__body {
    vertical-align: middle;
  }

  .ea-o-flag__body {
    width: 100%;
  }

  .ea-o-flag--align-top {
    vertical-align: top;
  }

  .ea-o-flag--align-bottom {
    vertical-align: bottom;
  }

  .ea-o-flag--no-wrap {
    white-space: nowrap;
  }
}
