@if $use-grid {
  .o-grid {
    vertical-align: top;

    min-width: 100%;

    @if $use-grid-whitespace-html-fix {
      font-size: 0;
    }
  }

  .o-grid--gutter {
    margin-left: -$spacing-unit;
    @include generate-inverted-offsets('margin-left');
  }

  .o-grid--gutter > .o-grid__item {
    padding-left: $spacing-unit;
  }

  @include generate-grid-item-offsets('gutter', 'padding-left');

  .o-grid--trench {
    margin-top: -$spacing-unit;
    @include generate-inverted-offsets('margin-top');
  }

  .o-grid--trench > .o-grid__item {
    padding-top: $spacing-unit;
  }
  
  @include generate-grid-item-offsets('trench', 'padding-top');

  .o-grid--vertical-align-top {
    vertical-align: top;
  }

  .o-grid--vertical-align-center {
    vertical-align: middle;
  }

  .o-grid--vertical-align-bottom {
    vertical-align: bottom;
  }

  .o-grid--match-height {
    display: flex;
    flex-wrap: wrap;
  }

  .o-grid--match-height > .o-grid__item {
    display: flex;
  }

  /*
      [1]Set min-height to 1px to prevent the div was collapsing when no content withing (can use empty grid items to space things out
      [2] Combination of negative left margin and font size "hacks" to overcome inline-blck whitespacing issues. Because of global border-box box sizing this doesn't affect layout
  */
  .o-grid__item {
    position: relative;
    vertical-align: inherit;

    display: inline-block;
    min-height: 1px; // [1]
    width: 100%;

    @if $use-grid-whitespace-html-fix { // [2]
      margin-left: -1px;
      font-size: $font-size-default;
    }
  }
}
