@if $use-list {
  .o-list {
    @include undo-default-list-style;
  }

  .o-list--inline > .o-list__item {
    display: inline-block;
  }

  .o-list--trench {
    margin-top: -$spacing-unit;
    @include generate-inverted-offsets('margin-top');
  }

  .o-list--trench > .o-list__item {
    padding-top: $spacing-unit;
  }
  
  @include generate-list-item-offsets('trench', 'padding-top');

  .o-list--gutter {
    margin-left: -$spacing-unit;
    @include generate-inverted-offsets('margin-left');
  }

  .o-list--gutter > .o-list__item {
    padding-left: $spacing-unit;
  }
  
  @include generate-list-item-offsets('gutter', 'padding-left');
}
