/* Improved font rendering */
html,
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: $ea-letter-spacing;
}

/* Set entire site to border-box box sizing. ftw :) */
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/* Consitency across all lists */
ul,
ol,
dd {
  margin-left: $ea-spacing-unit;
}

/* Consistent vertical spacing for block elements */
/* [1] Remove margin vertical spacing as framework box sizes everything so padding is safer */
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
legend,
figure,
pre,
hr {
  margin-top: 0; // [1]
  margin-bottom: 0; // [1]
  padding-top: $ea-spacing-unit;
  padding-bottom: $ea-spacing-unit;
}

hr {
  border: 0;
  border-top: inset 1px;
}
