/* Improved font rendering */
html,
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: $ea-letter-spacing;
}

/* Set entire site to border-box box sizing. ftw :) */
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/* Consitency across all lists */
ul,
ol,
dd {
  margin-left: $ea-spacing-unit;
}
