@function get-font-sizes($key) {
  @if (map-has-key($font-sizes, $key)) {
    @return map-get($font-sizes, $key);
  }
  @else {
    @return null;
  }
}

@mixin use-font($family, $sizes) {
  font: #{map-get($sizes, 'def')}/1.5 $family;
  @include respond-to('xs') {
    font-size: #{map-get($sizes, 'xs')};
  }    
  @include respond-to('sm') {
    font: #{map-get($sizes, 'sm')}/1.5 $family;
  }
}
