@import "./../tools/_respond-to.scss";

@mixin calc-width($numerator, $denominator) {
    width: (100% / $denominator) * $numerator;

    &\@xs {
        width: (100% / $denominator) * $numerator;
        @include respond-to("max-xs") {
            width: 100%;
        }
    }
    &\@sm {
        width: (100% / $denominator) * $numerator;
        @include respond-to("max-sm") {
            width: 100%;
        }
    }
    &\@md {
        width: (100% / $denominator) * $numerator;
        @include respond-to("max-md") {
            width: 100%;
        }
    }
    &\@lg {
        width: (100% / $denominator) * $numerator;
        @include respond-to("max-lg") {
            width: 100%;
        }
    }
}